/* biome-ignore-all lint/complexity/noImportantStyles: print overrides must beat Tailwind utility classes */
/* @import 'docs/fira-go.css' layer(base); */
@import "tailwindcss";

@config "../../tailwind.config.cjs";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

@media print {
	@page {
		margin-top: 0in;
		margin-bottom: 0in;
		margin-left: 0in;
		margin-right: 0in;
	}

	html,
	body {
		background: white !important;
	}

	body {
		-webkit-print-color-adjust: exact !important;
		color-adjust: exact !important;
		color: black !important;
	}

	.page {
		padding: --spacing(16) --spacing(16) !important;
	}

	h1,
	h2,
	h3,
	p,
	li {
		color: black !important;
	}

	html {
		font-size: 12.288px !important;
	}
}

html {
	font-size: 13.176471px;
}

/* For Letter size */

@media (width >= 640px) {
	html {
		font-size: calc(
			13.176471px +
			(16 - 13.176471) *
			(100vw - 640px) /
			(833 - 640)
		);
	}
}

@media (width >= 833px) {
	html {
		font-size: calc(12.288px + (16 - 12.288) * (100vw - 833px) / (1079.5 - 833));
	}
}

/* For A4 size */

/* @screen sm {
  html {
    font-size: calc( 13.176471px + (16 - 13.176471) * (100vw - 640px) / (811 - 640) );
  }
}

@screen md {
  html {
    font-size: calc( 12.288px + (16 - 12.288) * (100vw - 811px) / (1051 - 811) );
  }
} */

@media (width >= 1079.5px) {
	html {
		font-size: 16px;
	}
}

body .icon-parent::before {
	content: "A";
	width: 0px;
	visibility: hidden;
	display: inline-block;
}
